<form role='form'>
	<div class='form-group'>
		<div class='input-group'>
			<input ng-model='value' class='form-control' placeholder="#with,to @id" />
			<span class='input-group-btn'>
				<button ng-click='add()' class='btn btn-default'>add</button>
			</span>
		</div>
	</div>
</form>
<div class="list">
	<div class="checkbox" ng-repeat='todo in todos' ng-mouseover='enableEdit(todo)' ng-mouseleave='disableEdit(todo)'>
		<label ng-class='getTodoStyle(todo.completed)'>
			<input type='checkbox' ng-model='todo.completed' ng-change='toggleCompleted(todo)'> <span>{{todo.todo}}</span> 
		</label>
		<span class='edit-todo' ng-show="todo.editable"><span><img src='images/btn_srch_w.gif'></span><span ng-click='deleteTodo(todo)'><img src='images/btn_im_x_gr.gif'></span></span>
	</div>
</div>