<div class='todoContents'>
	<form role='form'>
  	<div class='form-group'>
  		<div class='input-group'>
  			<input ng-model='value' class='form-control' placeholder="#with,to @id" />
  			<span class='input-group-btn'>
  				<button ng-click='add()' class='btn btn-default'>add</button>
  				<button ng-click='toggleDesc()' class='btn btn-default'><img src='images/bullet_comment.gif'></button>
  			</span>
  		</div>
  		<textarea ng-model='desc' ng-show='showDesc' placeholder="Description" class="form-control desc" rows="3"></textarea>
  	</div>
	</form>
  <div class='todoFilter'>
    <a href='' ng-click='todoFilter("")' ng-style='query==""?{"font-weight":"bold","text-decoration":"underline"}:""'>all</a>
    <a href='' ng-click='todoFilter("false")' ng-style='query=="false"?{"font-weight":"bold","text-decoration":"underline"}:""'>running</a>
    <a href='' ng-click='todoFilter("true")' ng-style='query=="true"?{"font-weight":"bold","text-decoration":"underline"}:""'>complete</a>
  </div>
	<div class="list">
		<div class="checkbox" ng-repeat='todo in todos | filter: {completed:query}' ng-mouseover='enableEdit(todo)' ng-mouseleave='disableEdit(todo)'>
			<label ng-class='getTodoStyle(todo)'>
				<input type='checkbox' ng-model='todo.completed' ng-change='toggleCompleted(todo)'><span class='fromUser' ng-show='currentUser != todo.assigner'>from @{{todo.assigner}} </span><span class='todoValue'>{{todo.todo}}</span> 
			</label>
			<span class='date'>{{getDateString(todo.completedDate) | date:'yyyy.MM.dd hh:mm'}}</span>
			<span class='edit-todo' ng-show="todo.editable">
        <span ng-click='togglePriority(todo)'><img src='images/icon_check.gif'></span>
        <span ng-click='showTodoDesc(todo)' ng-show='todo.desc'><img src='images/bullet_comment.gif'></span>
        <span ng-click='deleteTodo(todo)'><img src='images/icon_delete_single.gif'></span>
      </span>
			<textarea ng-model='todo.desc' ng-show='todo.showDesc' class="form-control todoDesc" rows="3"></textarea>
		</div>
	</div>
</div>
